<section class="section-container">
    <h1>Results</h1>

    <%= form_tag("/search", :method => "get", id: "index-form") do %>
    
        <div class="search-menu">
          <%= text_field_tag :search, params[:search], placeholder: "Please enter your county", id: "searchbar", :autofocus => true %>
          <button type="submit" class="searchbutton"><i class="material-icons">search</i></button>
        </div>
      
    
        <div class="filters results-view">
          <%= render '/pages/inputs' =%>
        </div>
    
    <% end %>

      <div class="results-list">
        <% if @results.length > 0 %>
          <% @results.each do |f| %>
            <h3><%= f.name %></h3>
            <p><%= f.city %>, <%= f.county %></p>
            <p><%= f.service_description %></p>
            <p><%= link_to "more information", "support_centers/#{f.id}", :class => "more-info" %></p>
            <hr>
          <% end %>

      </div>

    <% else %>
      <% if @queryCounty != '' && @queryFilter != nil %>
        <p id="results-error">There are no results for the County of "<%= @queryCounty %>" with the filter "<%= @queryFilter %>", please try again with different search terms.</p>
      <% elsif @queryCounty != '' && @queryFilter != '' %>
        <p id="results-error">There are no results for the County of "<%= @queryCounty %>", please try again with a different County.</p>
      <% else %>
        <p id="results-error">It seems your search includes no parameters, please type in your County in the searchbar and add the filter that better describes the type of help you're looking for.</p>
      <% end %>
    <% end %>

</section>