<section class="section-container">
    <h1><%= I18n.t 'search.results'%></h1>

    <%= form_tag(search_path, :method => "get", id: "index-form") do %>
    
        <div class="search-menu">
          <%= text_field_tag :search, params[:search], placeholder: "#{I18n.t 'index.placeholder'}", id: "searchbar", :autofocus => true %>
          <button type="submit" class="searchbutton"><i class="material-icons">search</i></button>
        </div>
      
    
        <div class="filters results-view">
          <%= render '/pages/inputs' =%>
        </div>
    
    <% end %>
      <div class="results-list">
        <% if @results.length > 0 %>
          <% @results.each do |f| %>
            <h3><%= f.name %></h3>
            <p><%= f.city %>, <%= f.county %></p>
            <p><%= f.service_description %></p>
            <p><%= link_to "more information", "support_centers/#{f.id}", :class => "more-info" %></p>
            <hr>
          <% end %>

      </div>

    <% else %>
      <% if @queryCounty != '' && @queryFilter != nil %>
        <p id="results-error"><%= I18n.t 'search.county_filter.error_a'%> "<%= @queryCounty %>" <%= I18n.t 'search.county_filter.error_b'%> "<%= @queryFilter %>", <%= I18n.t 'search.county_filter.error_c'%>.</p>
      <% elsif @queryCounty != '' && @queryFilter != '' %>
        <p id="results-error"><%= I18n.t 'search.county_filter.error_a'%> "<%= @queryCounty %>", <%= I18n.t 'search.county.error_a'%></p>
      <% else %>
        <p id="results-error"><%= I18n.t 'search.no_results'%></p>
      <% end %>
    <% end %>

</section>