<section class="section-container">
    <h1>Results</h1>

    <%= form_tag("/search", :method => "get", id: "index-form") do %>
    
        <div class="search-menu">
          <%= text_field_tag :search, params[:search], placeholder: "Please enter your county", id: "searchbar", :autofocus => true %>
          <button type="submit" class="searchbutton"><i class="material-icons">search</i></button>
        </div>
      
    
        <div class="filters results-view">
          <div class="inputs">
            <div><%= radio_button_tag :filter, "Legal", params[:filter], id: "legal" %>
              <label for="legal">Legal</label></div>
            <div><%= radio_button_tag :filter, "Housing", params[:filter], id: "housing" %>
              <label for="housing">Housing</label></div>
            <div><%= radio_button_tag :filter, "Financial", params[:filter], id: "financial" %>
              <label for="financial">Financial</label></div>
            <div><%= radio_button_tag :filter, "Medical", params[:filter], id: "medical" %>
              <label for="medical">Medical</label></div>
            <div><%= radio_button_tag :filter, "Psychological", params[:filter], id: "psychological" %>
              <label for="psychological">Psychological</label></div>
          </div>
        </div>
    
      <% end %>

    <% if @results.length > 0 %>
        <div class="results-list">
            <% @results.each do |f| %>
                <h3><%= f.name %></h3>
                <p><%= f.city %>, <%= f.county %></p>
                <%= link_to "more information", "support_centers/#{f.id}" %>
                <hr>
            <% end %>
        </div>
    <% else %>
        <p class="results-error">There are no results for this Zip Code, please try with a different one or use a different filter</p>
    <% end %>

</section>