<div class="inputs">
  <div><%= radio_button_tag :filter, "Legal", params[:filter], id: "legal" %>
    <label for="legal"><%= I18n.t 'index.inputs.legal'%></label></div>
  <div><%= radio_button_tag :filter, "Housing", params[:filter], id: "housing" %>
    <label for="housing"><%= I18n.t 'index.inputs.housing'%></label></div>
  <div><%= radio_button_tag :filter, "Financial", params[:filter], id: "financial" %>
    <label for="financial"><%= I18n.t 'index.inputs.financial'%></label></div>
  <div><%= radio_button_tag :filter, "Medical", params[:filter], id: "medical" %>
    <label for="medical"><%= I18n.t 'index.inputs.medical'%></label></div>
  <div><%= radio_button_tag :filter, "Psychological", params[:filter], id: "1" %>
    <label for="psychological"><%= I18n.t 'index.inputs.psychological'%></label></div>
</div>