<section class="section-container forSurvivors">
    <h1><%= I18n.t 'survivors.title'%></h1>
    <hr>
    
    <h2 class="forSurvivorsLink"><%= I18n.t 'survivors.sexual_assault'%></h2>
      <div class="nested-section hidden">
        <p><%= I18n.t 'survivors.assault.assault_text'%></p>

        <h3><%= I18n.t 'survivors.rape.title'%></h3>
        <p><%= I18n.t 'survivors.rape.text'%></p>

        <h3><%= I18n.t 'survivors.consent.title'%></h3>
        <p><%= I18n.t 'survivors.consent.text_a'%></p>
        <p><%= I18n.t 'survivors.consent.text_b'%></p>

        <ol>
          <li><%= I18n.t 'survivors.consent.list.a'%></li>
          <li><%= I18n.t 'survivors.consent.list.b'%></li>
          <li><%= I18n.t 'survivors.consent.list.c'%></li>
          <li><%= I18n.t 'survivors.consent.list.d'%></li>
          <li><%= I18n.t 'survivors.consent.list.e'%></li>
          <li><%= I18n.t 'survivors.consent.list.f'%></li>
          <li><%= I18n.t 'survivors.consent.list.g'%></li>
          <li><%= I18n.t 'survivors.consent.list.h'%></li>
          <li><%= I18n.t 'survivors.consent.list.i'%></li>
          <li><%= I18n.t 'survivors.consent.list.j'%></li>
        </ol>

        <h3><%= I18n.t 'survivors.acquintance_assault.title'%></h3>
        <p><%= I18n.t 'survivors.acquintance_assault.text'%></p>

        <p><%= I18n.t 'survivors.acquintance_assault.source'%> <a href="https://www.csbsju.edu/chp/sexual-assault-survivors-guide">https://www.csbsju.edu/chp/sexual-assault-survivors-guide</a></p>
        
        <button class="close-nested-section"><%= I18n.t 'survivors.close'%></button>
      </div>    

    <h2 class="forSurvivorsLink"><%= I18n.t 'survivors.abuser.title'%></h2>
      <div class="nested-section hidden">
        <p><%= I18n.t 'survivors.abuser.text_a'%></p>
        <p><%= I18n.t 'survivors.abuser.text_b'%></p>
        <p><%= I18n.t 'survivors.abuser.text_c'%></p>
        <p><%= I18n.t 'survivors.abuser.text_d'%></p>

        <button class="close-nested-section"><%= I18n.t 'survivors.close'%></button>
      </div>

    <h2 class="forSurvivorsLink"><%= I18n.t 'survivors.questions.title'%></h2>
      <div class="nested-section hidden">
        <p><%= I18n.t 'survivors.questions.text_a'%></p>

        <p><%= I18n.t 'survivors.questions.text_b'%></p>

        <h3><%= I18n.t 'survivors.questions.why.title'%></h3>
        <p><%= I18n.t 'survivors.questions.why.text'%></p>

        <h3><%= I18n.t 'survivors.questions.when.title'%></h3>
        <p><%= I18n.t 'survivors.questions.when.text'%></p>

        <h3><%= I18n.t 'survivors.questions.how.title'%></h3>
        <p><%= I18n.t 'survivors.questions.how.text'%></p>

        <h3><%= I18n.t 'survivors.questions.understand.title'%></h3>
        <p><%= I18n.t 'survivors.questions.understand.text'%></p>

        <h3><%= I18n.t 'survivors.questions.crazy.title'%></h3>
        <p><%= I18n.t 'survivors.questions.crazy.text'%></p>

        <h3><%= I18n.t 'survivors.questions.deal.title'%></h3>
        <p><%= I18n.t 'survivors.questions.deal.text'%></p>

        <h3><%= I18n.t 'survivors.questions.imagining.title'%></h3>
        <p><%= I18n.t 'survivors.questions.imagining.text'%></p>

        <button class="close-nested-section">Close</button>
      </div>

    <h2 class="forSurvivorsLink"><%= I18n.t 'survivors.common.title'%></h2>
      <div class="nested-section hidden">
        <h3><%= I18n.t 'survivors.common.shock.title'%></h3>
        <p><%= I18n.t 'survivors.common.shock.text_a'%></p>

        <ol>
          <li><strong><%= I18n.t 'survivors.bullet_point'%></strong> <%= I18n.t 'survivors.common.shock.text_b'%></li>
        </ol>

        <h3><%= I18n.t 'survivors.common.disruption.title'%></h3>
        <p><%= I18n.t 'survivors.common.disruption.text_a'%></p>

        <ol>
          <li><strong><%= I18n.t 'survivors.bullet_point'%></strong> <%= I18n.t 'survivors.common.disruption.text_b'%></li>
        </ol>

        <h3><%= I18n.t 'survivors.common.loss.title'%></h3>
        <p><%= I18n.t 'survivors.common.loss.text_a'%></p>

        <ol>
          <li><strong><%= I18n.t 'survivors.bullet_point'%></strong> <%= I18n.t 'survivors.common.loss.text_b'%></li>
        </ol>

        <h3><%= I18n.t 'survivors.common.fear.title'%></h3>
        <p><%= I18n.t 'survivors.common.fear.text_a'%></p>

        <ol>
          <li><strong><%= I18n.t 'survivors.bullet_point'%></strong> <%= I18n.t 'survivors.common.fear.text_b'%></li>
        </ol>

        <h3><%= I18n.t 'survivors.common.guilt.title'%></h3>
        <p><%= I18n.t 'survivors.common.guilt.text_a'%></p>

        <ol>
          <li><strong><%= I18n.t 'survivors.bullet_point'%></strong> <%= I18n.t 'survivors.common.guilt.text_b'%></li>
        </ol>

        <h3><%= I18n.t 'survivors.common.anger.title'%></h3>
        <p><%= I18n.t 'survivors.common.anger.text_a'%></p>

        <ol>
          <li><strong><%= I18n.t 'survivors.bullet_point'%></strong> <%= I18n.t 'survivors.common.fear.text_b'%></li>
        </ol>

        <h3><%= I18n.t 'survivors.common.isolation.title'%></h3>
        <p><%= I18n.t 'survivors.common.isolation.text_a'%></p>

        <ol>
          <li><strong><%= I18n.t 'survivors.bullet_point'%></strong> <%= I18n.t 'survivors.common.isolation.text_b'%></li>
        </ol>

        <h3><%= I18n.t 'survivors.common.anxiety.title'%></h3>
        <p><%= I18n.t 'survivors.common.anxiety.text_a'%></p>

        <ol>
          <li><strong><%= I18n.t 'survivors.bullet_point'%></strong> <%= I18n.t 'survivors.common.anxiety.text_b'%></li>
        </ol>

        <h3><%= I18n.t 'survivors.common.concern.title'%></h3>
        <p><%= I18n.t 'survivors.common.concern.text_a'%></p>
        
        <ol>
          <li><strong><%= I18n.t 'survivors.bullet_point'%></strong> <%= I18n.t 'survivors.common.concern.text_b'%></li>
        </ol>

        <h3><%= I18n.t 'survivors.common.sexual.title'%></h3>
        <p><%= I18n.t 'survivors.common.sexual.text_a'%></p>

        <ol>
          <li><strong><%= I18n.t 'survivors.bullet_point'%></strong> <%= I18n.t 'survivors.common.sexual.text_b'%></li>
        </ol>

        <h3><%= I18n.t 'survivors.common.post.title'%></h3>
        <p><%= I18n.t 'survivors.common.post.text_a'%></p>

        <ol>
          <li><strong><%= I18n.t 'survivors.bullet_point'%></strong> <%= I18n.t 'survivors.common.post.text_b'%></li>
        </ol>

        <button class="close-nested-section"><%= I18n.t 'survivors.close'%></button>
      </div>

    
  </section>