<section class="section-container getHelp">
    <h1><%= I18n.t 'get_help.title'%></h1>
    <hr>
    
    <p><%= I18n.t 'get_help.text'%> <a href='https://www.poderosaisherpower.org/get-help/' target='_blank' title='Follow this link to get more information on what is sexual based violence'><%= I18n.t 'get_help.here'%></a>.</p>

    <br>
    <h1><%= I18n.t 'get_help.what_to_do.title'%></h1>
    <hr>

    <ol>
      <li><%= I18n.t 'get_help.what_to_do.list.a'%></li>
      <li><%= I18n.t 'get_help.what_to_do.list.b'%></li>
      <li><%= I18n.t 'get_help.what_to_do.list.c'%><a href='https://www.poderosaisherpower.org/survivors-guide/reporting-the-abuser' target='_blank' title='Follow this link to get more information on how to report an abuser'><%= I18n.t 'get_help.here'%>.</a></li>
    </ol>

    <br>
    <h1><%= I18n.t 'get_help.questions.title'%></h1>
    <hr>
      
    <p><%= I18n.t 'get_help.questions.text_a'%> <a href='https://www.poderosaisherpower.org/survivors-guide/common-questions' target='_blank'>here</a> <%= I18n.t 'get_help.questions.text_b'%></p>

    <br>
    <h1><%= I18n.t 'get_help.feelings.title'%></h1>
    <hr>

    <p><%= I18n.t 'get_help.feelings.text_a'%> <a href='https://www.poderosaisherpower.org/survivors-guide/common-feelings' target='_blank'>here</a> <%= I18n.t 'get_help.feelings.text_b'%></p>

    <h1><%= I18n.t 'get_help.hotlines.title'%></h1>
    <hr>

    <p><%= I18n.t 'get_help.hotlines.text_a'%> <span class="desktop-number">(1)800-656-4673</span><a class="mobile-number" href="tel:+18006564673">(1)800-656-4673</a> <%= I18n.t 'get_help.hotlines.text_b'%></p>

    <p>MUJER, Inc: <span class="desktop-number">305-763-2459</span><a class="mobile-number" href="tel:+13057632459">305-763-2459</a></p>
    <p>Nancy J. Cotterman Center: <span class="desktop-number">954-761-7273</span><a class="mobile-number" href="tel:+19547617273">954-761-7273</a></p>
    <p>Palm Beach County Victim Services: <span class="desktop-number">866-891-7273</span><a class="mobile-number" href="tel:+18668917273">866-891-7273</a></p>
    <p>Roxcy Bolton RTC: <span class="desktop-number">305-585-7273</span><a class="mobile-number" href="tel:+13055857273">305-585-7273</a></p>
  </section>