<section class="section-container safety-planning">
  <h1><%= I18n.t 'safety_planning.title'%></h1>

  <p><%= I18n.t 'safety_planning.text'%></p>
  
  <strong><%= I18n.t 'safety_planning.questions_header'%></strong>

  <ol>
    <li><%= I18n.t 'safety_planning.list.a'%></li>
    <li><%= I18n.t 'safety_planning.list.b'%></li>
    <li><%= I18n.t 'safety_planning.list.c'%></li>
    <li><%= I18n.t 'safety_planning.list.d'%></li>
    <li><%= I18n.t 'safety_planning.list.e'%></li>
    <li><%= I18n.t 'safety_planning.list.f'%></li>
    <li><%= I18n.t 'safety_planning.list.g.main'%>
      <p><%= I18n.t 'safety_planning.list.g.sub_list.a'%></p>
      <p><%= I18n.t 'safety_planning.list.g.sub_list.b'%></p>
      <p><%= I18n.t 'safety_planning.list.g.sub_list.c'%></p>
      <p><%= I18n.t 'safety_planning.list.g.sub_list.d'%></p>
      <p><%= I18n.t 'safety_planning.list.g.sub_list.e'%></p>
      <p><%= I18n.t 'safety_planning.list.g.sub_list.f'%></p>
    </li>
    <li><%= I18n.t 'safety_planning.list.h'%></li>
    <li><%= I18n.t 'safety_planning.list.i'%></li>
    <li><%= I18n.t 'safety_planning.list.j'%></li>
    <li><%= I18n.t 'safety_planning.list.k.main'%>
      <p><%= I18n.t 'safety_planning.list.k.sub_list.a'%></p>
      <p><%= I18n.t 'safety_planning.list.k.sub_list.b'%></p>
      <p><%= I18n.t 'safety_planning.list.k.sub_list.c'%></p>
      <p><%= I18n.t 'safety_planning.list.k.sub_list.d'%></p>
      <p><%= I18n.t 'safety_planning.list.k.sub_list.e'%></p>
      <p><%= I18n.t 'safety_planning.list.k.sub_list.f'%></p>
      <p><%= I18n.t 'safety_planning.list.k.sub_list.g'%></p>
      <p><%= I18n.t 'safety_planning.list.k.sub_list.h'%></p>
    </li>
  </ol>

  <strong><%= I18n.t 'safety_planning.resources.title'%></strong>

  <p><%= I18n.t 'safety_planning.resources.text'%></p>

  <strong><%= I18n.t 'safety_planning.guidelines.title'%></strong>
  
  <ul>
    <li><%= I18n.t 'safety_planning.guidelines.list.a'%></li>
    <li><%= I18n.t 'safety_planning.guidelines.list.b'%></li>
    <li><%= I18n.t 'safety_planning.guidelines.list.c'%></li>
    <li><%= I18n.t 'safety_planning.guidelines.list.d'%></li>
  </ul>

</section>